.sidenav-container {
  height: 100%;
 
 
}
.sidenav {
  width: 220px;
  background-color:white
}
.item{
  color: black;
  padding-left: 5px;
  
}


.menu{
  background-color:#005d94;
  color:white
}

.app-title {
  text-transform: uppercase;
  padding-left: 26px;
}

.header-toolbar {
  justify-content: space-between;
  background-color:#005d94;
  color:white;
 
}
